<a href="https://colab.research.google.com/github/Ritwik411/Wintersem_NLP/blob/master/Cosine_similarity/Cosine_similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The first 4 paragraphs from the description of Virat Kohli and MS Dhoni on Wikipedia were selected as the source of texts.

In [0]:
Virat = """Virat Kohli (About this soundpronunciation (help·info); born 5 November 1988) is an Indian cricketer who currently captains the India national team. A right-handed top-order batsman, Kohli is regarded as one of the best batsmen in the world.[3] He plays for Royal Challengers Bangalore in the Indian Premier League (IPL), and has been the team's captain since 2013. Since October 2017, he has been the top-ranked ODI batsman in the world and is currently 1st in Test rankings with 928 points.[4][5]Among Indian batsmen, Kohli has the best ever Test rating (937 points), ODI rating (911 points) and T20I rating (897 points).
Kohli captained India Under-19s to victory at the 2008 Under-19 World Cup in Malaysia. After a few months later, he made his ODI debut for India against Sri Lanka at the age of 19. Initially having played as a reserve batsman in the Indian team, he soon established himself as a regular in the ODI middle-order and was part of the squad that won the 2011 World Cup. He made his Test debut in 2011 and shrugged off the tag of "ODI specialist" by 2013 with Test hundreds in Australia and South Africa.[6] Having reached the number one spot in the ICC rankings for ODI batsmen for the first time in 2013,[7] Kohli also found success in the Twenty20 format, winning the Man of the Tournament twice at the ICC World Twenty20 (in 2014 and 2016).
Kohli was appointed the vice-captain of the ODI team in 2012 and handed over the Test captaincy following Mahendra Singh Dhoni's Test retirement in 2014. In early 2017, he became the limited-overs captain as well after Dhoni stepped down from the position. In ODIs, Kohli has the second highest number of centuries and the highest number of centuries in run-chases in the world. He holds the world record for being the fastest batsman to 10,000 and 11,000 runs in ODI cricket, reaching the milestones in 205 and 222 innings respectively.[8][9]
Kohli has been the recipient of many awards such as the Sir Garfield Sobers Trophy (ICC Cricketer of the Year) in 2017 and 2018; ICC Test Player of the Year 2018; ICC ODI Player of the Year in 2012, 2017 and 2018 and Wisden Leading Cricketer in the World in 2016, 2017 and 2018.[10] He was given the Arjuna Award in 2013, the Padma Shri under the sports category in 2017[11] and the Rajiv Gandhi Khel Ratna, the highest sporting honour in India, in 2018.[12] Kohli is ranked as one of the world's most famous athletes by ESPN[13] and one of the most valuable athlete brands by Forbes.[14] In 2018, Time magazine named Kohli one of the 100 most influential people in the world.[15] """


Dhoni = """ Mahendra Singh Dhoni (About this soundpronunciation (help·info) born 7 July 1981), commonly known as MS Dhoni, is an Indian international cricketer who captained the Indian national team in limited-overs formats from 2007 to 2016 and in Test cricket from 2008 to 2014. Under his captaincy, India won the 2007 ICC World Twenty20, the 2010 and 2016 Asia Cups, the 2011 ICC Cricket World Cup and the 2013 ICC Champions Trophy. A right-handed middle-order batsman and wicket-keeper, Dhoni is one of the highest run scorers in One Day Internationals (ODIs) with more than 10,000 runs scored and is considered an effective "finisher" in limited-overs formats.[2][3][4][5] He is also regarded by some as one of the best wicket-keepers and captain in modern limited-overs international cricket.[6]
He made his ODI debut in December 2004 against Bangladesh, and played his first Test a year later against Sri Lanka. Dhoni has been the recipient of many awards, including the ICC ODI Player of the Year award in 2008 and 2009 (the first player to win the award twice), the Rajiv Gandhi Khel Ratna award in 2007, the Padma Shri, India's fourth highest civilian honour, in 2009 and the Padma Bhushan, India's third highest civilian honour, in 2018.[7] He was named as the captain of the ICC World Test XI in 2009, 2010 and 2013. He has also been selected a record 8 times in ICC World ODI XI teams, 5 times as captain. The Indian Territorial Army conferred the honorary rank of Lieutenant Colonel[8] to Dhoni on 1 November 2011. He is the second Indian cricketer after Kapil Dev to receive this honour.
Dhoni also holds numerous captaincy records such as the most wins by an Indian captain in ODIs and T20Is, and most back-to-back wins by an Indian captain in ODIs. He took over the ODI captaincy from Rahul Dravid in 2007 and led the team to its first-ever bilateral ODI series wins in Sri Lanka and New Zealand. In June 2013, when India defeated England in the final of the Champions Trophy in England, Dhoni became the first captain to win all three ICC limited-overs trophies (World Cup, Champions Trophy and the World Twenty20). After taking up the Test captaincy in 2008, he led the team to series wins in New Zealand and the West Indies, and the Border-Gavaskar Trophy in 2008, 2010 and 2013. In 2009, Dhoni also led the Indian team to number one position for the first time in the ICC Test rankings.
In 2013, under his captaincy, India became the first team in more than 40 years to whitewash Australia in a Test series. In the Indian Premier League, he captained the Chennai Super Kings to victory at the 2010, 2011 and 2018 seasons, along with wins in the 2010 and 2014 editions of Champions League Twenty20. In 2011, Time magazine included Dhoni in its annual Time 100 list as one of the "Most Influential People in the World."[9] Dhoni holds the post of Vice-President of India Cements Ltd., after resigning from Air India. India Cements is the owner of the IPL team Chennai Super Kings, and Dhoni has been its captain since the first IPL season.[10][11] He announced his retirement from Tests on 30 December 2014.[12]
In 2012, SportsPro rated Dhoni as the sixteenth most marketable athlete in the world.[13] Dhoni is the co-owner of Indian Super League team Chennaiyin FC.[14] In June 2015, Forbes ranked Dhoni at 23rd in the list of highest paid athletes in the world, estimating his earnings at US$31 million.[15] In 2016, a biopic M.S. Dhoni: The Untold Story was made about his life and cricketing career upto the Indian team's win at the 2011 Cricket World Cup."""

In [0]:
document = [Virat,Dhoni]

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [0]:
cv = CountVectorizer(stop_words='english')

In [0]:
matrix = cv.fit_transform(document)

In [0]:
matrix = matrix.todense()

In [0]:
dataframe = pd.DataFrame(matrix,columns=cv.get_feature_names(),index=['Virat Kohli','MS Dhoni'])

In [15]:
dataframe.head(20)

             000  10  100  11  12  13  ...  won  world  xi  year  years  zealand
Virat Kohli    2   2    1   2   1   1  ...    1     10   0     3      0        0
MS Dhoni       1   2    1   1   1   1  ...    1     10   2     2      1        2

[2 rows x 274 columns]

In [14]:
from sklearn.metrics.pairwise import cosine_similarity
print(cosine_similarity(dataframe, dataframe))

[[1.         0.58014736]
 [0.58014736 1.        ]]